* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", Sans-serif;
    
}
.container {
    justify-content: center;
}
/* NAVBAR */

.navbar {
    max-width: 1300px;
    margin-top: 30px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.nav-img {
    width: 75px;
    height: auto;

}
.nav-main {
    display: flex;
    margin-left: auto; 
    padding: 20px 0px 20px 0px;
    margin-top: 1px;
    gap: 30px;
    list-style-type: none;
    font-size: 12px;
    font-weight: 600;
    color: #687279;
}
.nav-button-blog {
    color: #687279;
    text-decoration: none;
    transition-duration: 0.2s;
}
.nav-button-instagram {
    color: #687279;
    text-decoration: none;
    transition-duration: 0.2s;
}
.nav-button-instagram:hover {
    color: #fd7c47;
}
.nav-button-blog:hover {
    color: #fd7c47;
}
.nav-button-home {
    color: #fd7c47;
    text-decoration: none;
}

/* BUTTON CONTACT */

.button-contact {
    font-size: 12px;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    background-color: #F1A204;
    padding: 8px 14px 8px 14px; 
    border-radius: 3px;
    font-weight: 500;
    transition-duration: 0.3s;
}
.button-contact:hover {
    background-color: #0c084c;
}

/* MENU */

.container-menu {
    padding: 10px;
}
.hero-content {
    padding: 10px 0px 10px 0px;
    max-width: 1100px;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: auto;
    gap: 20px;
}
.container-menu-text {
    width: 540px;
    height: auto;
    padding: 10px;
}
.menu-text1 {
    font-size: 16px;
    font-weight: 600;
    color: #f1a204;
    margin: 20px 0px 20px 0px;
}
.menu-text2 {
    font-size: 43px;
    color: #0c084c;
    font-weight: 600;
    line-height: 1.2;
}
.menu-text3 {
    font-size: 15px;
    color: #0c084c;
    font-weight: 400;
    margin: 20px 0px 20px 0px;
}
.menu-text3 b {
    font-weight: 600;
}
.menu-list {
    list-style-type: none;
    color: #687279;
    font-weight: 400;
    line-height: 25px;
}
.fa-solid {
    color: #f1a204;
}
.menu-list-button {
    list-style: none;
    display: flex;
    margin-top: 30px;
    gap: 20px;
    padding: 0;
}
.menu-list-button-program {
    background-color: #02010100;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    fill:#0c084c;
    color: #0c084c;
    border-style: solid;
    border-color:#0c084c;
    border-radius: 5px;
    border-width: 1px;
    padding: 9px 20px 9px 20px;
    text-decoration: none;
}
.menu-list-button-register {
    background-color: #f1a204;
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    line-height: 16px;
    padding: 9px 20px 9px 20px;
    border-radius: 6px;
}

/* Menu Image */

.container-menu-img {
    width: 540px;
    height: 480px;
    padding: 40px 10px 10px 10px;
}
.menu-img {
    width: 540px;
    height: auto;
}


/* Industries */
.container-Industries {
max-width: 1100px;
margin: auto;
}
.menu-text-industries {
    font-size: 16px;
    padding: 20px;
    font-weight: 400;
    color: #0c084c;
}
.menu-industries {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.industries-text {
    color: #0c084c;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: -40px
}


/* Program */


.container-programs {
    height: auto;
    margin: 50px 16% 0px 16%;
}
.judul-program {
    max-width: 1100px;
    margin: 100px auto auto;
    text-align: center;
    padding: 10px 0px;
    line-height: 65px;
}
.program-text1 {
    font-size: 43px;
    color:#0c084c;
    font-weight: 400;
}
.program-text1 b {
    font-weight: 600;
}
.program-text2 {
    font-size: 16px;
    color: #0c084c;
    font-weight: 400;
}
.programs {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 100px;
    padding: 10px 0px;
    gap: 20px;
}
.program-voc {
    background-color: #F2F5F7;
    border-radius: 18px;
    text-align: center;
    height: 588px;
}
.program-voc:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.voc-pic {
    width: 366.14px;
    height: auto;
}
.voc-texts {
    padding: 10px;
    
}
.voc-list {
    padding: 15px;
}
.voc-list ul {
    text-align: left;
    line-height: 25px;
    font-weight: 400;
}
.voc-list li {
    list-style-type: none;
    color: #687279;
}
.voc-title {
    color: #111518;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
}
.program-pro {
    background-color: #FDEEEA;
    border-radius: 18px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    height: 588px;
}
.program-pro:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.pro-texts {
    padding: 10px;
}
.pro-title {
    color: #111518;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.pro-pic {
    width: 366.14px;
    margin-top: 40px;
    margin-top: auto;
    display: flex;
    align-items: end;
    overflow: hidden;
}
.pro-pic img {
    width: 100%;
    margin-top: 21px;
}
.pro-list {
    line-height: 23px;
    padding: 15px;
}
.pro-list li {
    list-style-type: none;
    color: #687279;
}
.program-rel {
    width: 366.13px;
    height: 588px;
    background-color: #F4F5F6;
    border-radius: 18px;
}
.program-rel:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.rel-texts {
    padding: 10px;
}
.rel-pic {
    width: 366px;
}
.rel-pic img {
    width: 250px;
    height: auto;
    display: flex;
    margin: auto;
}
.rel-title {
    color: #111518;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;;
}
.rel-list {
    padding: 15px;
}
.rel-list li {
    list-style-type: none;
    color: #687279;
    line-height: 23px;
}


/* Jurusan */

.jurusan-judul {
    font-size: 43px;
    font-weight: 600;
    color: #0C084C;
    text-align: center;
}
.jurusan-subjudul{
    text-align: center;
    font-size: 16px;
    color: #0C084C;
    margin: 15px 0px 15px 0px;
}
.jurusan {
    display: flex;
    justify-content: center;
}

.tkj:hover,
.dkv:hover,
.rpl:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.button-tkj:hover,
.button-dkv:hover,
.button-rpl:hover,
.buttonbawah-tkj:hover,
.buttonbawah-dkv:hover,
.buttonbawah-rpl:hover {
    cursor: pointer;
}
/* TKJ */


.tkj {
    padding: 30px;
    background-color: #f2f5f7;
    border-radius: 18px;
    margin-right: 15px;
}
.button-tkj {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 18px;
    text-align: center;
    background-color: #f1a204;
    border-radius: 5px;
    padding: 12px 24px 12px 24px;
    color: white
}
.button-tkj i {
    color: white;
}
.text-tkj {
    padding-bottom: 15px;
    font-size: 14px;
    color:#111518
}
.list-tkj {
    font-size: 14px;
    list-style-type: none;
    line-height: 23px;
    margin-left: 20px;
    color: #687279
}
.buttonbawah-tkj {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    background-color: #0C084C;
    color: white;
    border-radius: 5px;
    padding: 8px 13px 8px 13px;
    margin-top: 30px;
}
.buttonbawah-tkj i {
    color: white;
}

/* DKV */

/* .dkv:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
} */
.dkv {
    padding: 30px;
    background-color: #f2f5f7;
    border-radius: 18px;
}
.button-dkv {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 18px;
    text-align: center;
    background-color: #f1a204;
    border-radius: 5px;
    padding: 12px 24px 12px 24px;
    color: white
}
.button-dkv i {
    color:white;
}
.text-dkv {
    padding-bottom: 15px;
    font-size: 14px;
    color:#111518
}
.list-dkv {
    font-size: 14px;
    list-style-type: none;
    line-height: 23px;
    margin-left: 20px;
    color: #687279
}
.buttonbawah-dkv {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    background-color: #0C084C;
    color: white;
    border-radius: 5px;
    padding: 8px 13px 8px 13px;
    margin-top: 30px;
}
.buttonbawah-dkv i {
    color: white;
}


/* RPL */


.rpl {
    padding: 30px;
    background-color: #f2f5f7;
    border-radius: 18px;
    margin-left: 15px;
}
.button-rpl {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 18px;
    text-align: center;
    background-color: #f1a204;
    border-radius: 5px;
    padding: 12px 24px 12px 24px;
    color: white
}
.button-rpl i {
    color: white;
}
.text-rpl {
    padding-bottom: 15px;
    font-size: 14px;
    color:#111518
}
.list-rpl {
    font-size: 14px;
    list-style-type: none;
    line-height: 23px;
    margin-left: 20px;
    color: #687279
}
.buttonbawah-rpl {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    background-color: #0C084C;
    color: white;
    border-radius: 5px;
    padding: 8px 13px 8px 13px;
    margin-top: 30px;
}
.buttonbawah-rpl i {
    color: white;
}

/* Portofolio */

.container-portofolio {
    max-width: 1150px;
    margin: auto;
}
.container-judul {
    line-height: 2.3;
    margin: 150px 0px 80px 0px;
}
.port-judul {
    color: #0C084C;
    font-size: 43px;
    font-weight: 400;
    text-align: center;
}
.port-subjudul {
    color:#0C084C;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}


/* Portofolio TKJ */


.container-port-tkj {
    padding: 0px 15px;
    margin-top: 100px;
}
.container-wrap-port-tkj {
    display: flex;
    gap: 20px;
}
.container-yt-tkj {
    padding: 20px;
}
.yt-tkj {
    border-radius: 10px;
    border-style: none;
}
.yt-tkj-texts {
    line-height: 32px;
}
.yt-tkj-text1 {
    font-size: 20px;
    color:#0C084C;
    font-weight: bold;
}
.yt-tkj-text2 {
    font-size: 12px;
    color:#0C084C;
    font-weight: 400;
}
.yt-tkj-text3 {
    font-size: 12px;
    color:#0C084C;
    font-weight: 600;
}
.container-text-tkj {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 336px;
}
.text-tkj-1 {
    font-size: 43px;
    color:#0C084C;
    font-weight: 400;
    text-align: center;
}
.text-tkj-2 {
    font-size: 13px;
    font-weight: 400;
    color:#0C084C;
}
.text-tkj-list ul {
    list-style-type: none;
    padding: 0px 0px 15px 15px;
    font-size: 14px;
    color: #687279;
    font-weight: 300;
}
.button-port-tkj {
    background-color: #0C084C;
    padding: 8px 25px; 
    border-radius: 5px;
    width: fit-content;
}
.button-port-tkj a {
    text-decoration: none;
    font-size: 12px;
    color: white;
    font-weight: bold;
}
.button-port-tkj i {
    color: white;
}


/* Portofolio-Module TKJ */

.container-tkj-module {
    padding: 10px;
}
.tkj-module {
    width: auto;
    height: auto;
    display: flex;
    padding: 10px;
    gap: 20px;
}
.tkj-module-all {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.module-text1{
    font-size: 20px;
    font-weight: 500;
    color: #0C084C
}
.module-text2 {
    font-size: 12px;
    font-weight: 400;
    color: #0C084C
}
.tkj-module-cisco {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.tkj-module-security_hardening {
    gap: 20px;
}
.module-button {
    background-color: #f2a204;
    padding: 8px 24px; 
    border-radius: 5px;
    text-align: center;
}
.module-button a {
    text-decoration: none;
    font-size: 12px;
    color: white;
    font-weight: bold;
}
.module-button i {
    color: white;
}

/* Portofolio DKV */


.container-port-dkv {
    display: flex;
    gap: 20px;
    margin-top: 100px;
}
.container-yt-dkv {
    padding: 20px;
}
.yt-dkv {
    border-radius: 10px;
    border-style: none;
}
.yt-dkv-texts {
    line-height: 32px;
}
.yt-dkv-text1 {
    font-size: 20px;
    color:#0C084C;
    font-weight: bold;
}
.yt-dkv-text2 {
    font-size: 12px;
    color:#0C084C;
    font-weight: 400;
}
.yt-dkv-text3 {
    font-size: 12px;
    color:#0C084C;
    font-weight: 600;
}
.container-text-dkv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.text-dkv-1 {
    font-size: 43px;
    color:#0C084C;
    font-weight: 400;
    text-align: center;
}
.text-dkv-2 {
    font-size: 14px;
    color:#0C084C;
    font-weight: 400;
}
.text-div-list ul {
    list-style-type: none;
    padding: 0px 0px 15px 15px;
    font-size: 14px;
    color: #687279;
    font-weight: 300;
}
.button-portofolio-dkv {
    background-color: #0C084C;
    padding: 8px 25px;
    border-radius: 5px;
    width: fit-content;
}
.button-portofolio-dkv a {
    font-size: 12px;
    text-decoration: none;
    color:white;
    font-weight: bold;
}
.button-portofolio-dkv i {
    color: white;
}

/* Gallery */



.gallery-container {
    font-family: "Poppins", sans-serif;
    max-width: 1100px;
    margin: auto;
}
.filter-btns {
    text-align: center;
    margin-bottom: 20px;
}
.filter-btn {
    font-family: "poppins", sans-serif;
    background: none;
    border: 1px solid #f2f5f7; 
    background-color: #f2f5f7;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 5px;
    box-shadow: 0 8px 20px rgb(0,0,0,0.15);

}
.filter-btn.active,
.filter-btn:hover {
    background-color: #ff6b00;
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease, 0.3s ease;
    box-shadow: 0 8px 20px rgb(0,0,0,0.15);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.images {
    width: 23%;
    overflow: hidden;
    transform: scale(1);
    transition: all 0.5 ease;
}
.images img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
}
.images:hover {
    transform: scale(1.05)
}


/* DKV Motion Graphic */

.container-motion-graphic {
    max-width: 1100px;
    margin: 30px auto auto;
    padding: 10px;
}
.motion-graphic {
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 20px;
}
.heading-motion-graphic {
    text-align: center;
    padding: 10px;
}
.heading-motion-graphic h2 {
    padding: 10px;
    font-size: 18px;
    color: #0C084C;
    font-weight: 300;
}
.motion-graphic-yt2,
.motion-graphic-yt1 {
    padding: 10px;
}

/* Portofolio RPL */

.container-port-rpl {
    max-width: 1100px;
    margin: 100px auto auto;
    padding: 10px;
}
.container-text-rpl {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.text-rpl-1 {
    font-size: 43px;
    color:#0C084C;
    font-weight: 400;
    text-align: center;
}
.text-rpl-2 {
    font-size: 14px;
    color:#0C084C;
    font-weight: 400;
}
.text-rpl-list ul {
    list-style-type: none;
    padding: 0px 0px 15px 15px;
    font-size: 14px;
    color: #687279;
    font-weight: 300;
}
.button-portofolio-rpl {
    background-color: #0C084C;
    padding: 8px 25px;
    border-radius: 5px;
    width: fit-content;
}
.button-portofolio-rpl a {
    font-size: 12px;
    text-decoration: none;
    color:white;
    font-weight: bold;
}
.button-portofolio-rpl i {
    color: white;
}
.container-port-rpl {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.container-text-rpl {
    width: 336px;
}
.port-rpl-img-container {
    padding: 10px;
    width: 73%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.container-port2-rpl {
    padding: 10px;
}
.container-port2-portofolio {
    max-width: 1140px;
    margin: auto;
    padding: 10px;
    display: flex;
    gap: 20px;
}
.port2-portofolio-healthwell {
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}
.port2-portofolio-clevo {
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}
.port2-portofolio-smartfamily {
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}
.port2-portofolio-dotravel {
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}
.port2-portofolio-text1 {
    font-size: 20px;
    color: #0C084C;
}
.port2-portofolio-text2 {
    font-size: 12px;
    color: #0C084C;
    font-weight: 400;
}
.port2-portofolio-text3 {
    font-size: 12px;
    color: #0C084C;
    font-weight: 400;
}
.port2-portofolio-button {
    background-color: #f2a204;
    padding: 8px 24px; 
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: white;
    font-weight: bold;
}
.port2-portofolio-button i {
    color: white;
}

.container-sertikom-judul{
    margin-top: 50px;
    padding: 10px;
}
.sertikom-judul {
    justify-content: center;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #0C084C;
}
.sertikom-judul h3 {
    font-size: 43px;
    font-weight: 300;
}
.sertikom-judul b {
    font-weight: bold;
}

.container-sertikom {
    max-width: 1100px;
    margin: 50px auto auto;
    padding: 10px;
}
.sertikom {
    display: flex;
    gap: 39px;
    padding: 10px;
}
.sertikom-left {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sertikom-left h2 {
    
    font-size: 14px;
    font-weight: 500;
    color: #0C084C;
}
.sertikom-left ul {
    font-size: 14px;
    color: #687279;
    list-style-type: none;
    padding: 0 15px 15px;
}

.sertikom-right {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sertikom-right h2 {
    
    font-size: 14px;
    font-weight: 500;
    color: #0C084C;
}
.sertikom-right ul {
    font-size: 14px;
    color: #687279;
    padding: 0 15px 15px;
    list-style-type: none;
}
@media screen and (max-width: 600px) {
    .navbar {
        margin: 0;
    }
    
    .container-menu-text {
        width: 94%;
    }
    
    .menu-text1 {
        font-size: 16px;
        line-height: 1;
    }
    
    .menu-text2 {
        font-size: 43px;
    }
    
    .menu-list-button {
        flex-direction: column;
        gap: 40px;
    }
    
    .hero-content {
        flex-direction: column;
        padding: 0 10px;
    }
    
    .container-menu-img,
    .menu-img {
        width: 350px;
    }
    
    .container-menu-img {
        height: 280px;
    }
    
    .menu-text-industries {
        margin-top: 50px;
        text-align: center;
    }
    
    .menu-industries {
        flex-direction: column;
        align-items: center;
    }
    
    .container-programs {
        margin: 70px 16% 0;
    }
    
    .program-text1 {
        width: 280px;
    }
    
    .programs,
    .jurusan {
        flex-direction: column;
    }
    
    .program-text2 {
        margin-top: 20px;
    }
}