* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", Sans-serif;
    
}
.container {
    justify-content: center;
}
/* NAVBAR */

.navbar {
    margin: 35px 16% 0px 16%;
    display: flex;
    justify-content: space-between;
}
.nav-img {
    width: 75px;
    height: auto;

}
.nav-main {
    display: flex;
    margin-left: auto; 
    padding: 20px 0px 20px 0px;
    margin-top: 1px;
    gap: 30px;
    list-style-type: none;
    font-size: 12px;
    font-weight: 600;
    color: #687279;
}
.nav-button-blog {
    color: #687279;
    text-decoration: none;
}
.nav-button-instagram {
    color: #687279;
    text-decoration: none;
}
.nav-button-instagram:hover {
    color: #fd7c47;
}
.nav-button-blog:hover {
    color: #fd7c47;
}
.nav-button-home {
    color: #fd7c47;
    text-decoration: none;
}

/* BUTTON CONTACT */

.button-contact {
    font-size: 12px;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    background-color: #F1A204;
    padding: 8px 14px 8px 14px; 
    border-radius: 3px;
    font-weight: 500;
}
.button-contact:hover {
    background-color: #0c084c;
}


/* MENU */


.hero-content {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: auto;
    gap: 20px;
}
.container-menu-text {
    width: 560px;
    height: auto;
    padding: 10px;
}
.menu-text1 {
    font-size: 16px;
    font-weight: 600;
    color: #f1a204;
    margin: 20px 0px 20px 0px;
}
.menu-text2 {
    font-size: 43px;
    color: #0c084c;
    font-weight: 600;
    line-height: 1.2;
}
.menu-text3 {
    font-size: 16px;
    color: #0c084c;
    font-weight: 400;
    margin: 20px 0px 20px 0px;
}
.menu-text3 b {
    font-weight: 600;
}
.menu-list {
    list-style-type: none;
    color: #687279;
    font-weight: 400;
    line-height: 25px;
}
.fa-solid {
    color: #f1a204;
}
.menu-list-button {
    list-style: none;
    display: flex;
    margin-top: 30px;
    gap: 20px;
    padding: 0;
}
.menu-list-button-program {
    background-color: #02010100;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    fill:#0c084c;
    color: #0c084c;
    border-style: solid;
    border-color:#0c084c;
    border-radius: 5px;
    border-width: 1px;
    padding: 9px 20px 9px 20px;
    text-decoration: none;
}
.menu-list-button-register {
    background-color: #f1a204;
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    line-height: 16px;
    padding: 9px 20px 9px 20px;
    border-radius: 6px;
}

/* Menu Image */

.container-menu-img {
    width: 540px;
    height: 480px;
    padding: 40px 10px 10px 10px;
}
.menu-img {
    width: 540px;
    height: auto;
}


/* Industries */
.container-Industries {
max-width: 1100px;
margin: auto;
}
.menu-text-industries {
    font-size: 16px;
    padding: 20px;
    font-weight: 400;
    color: #0c084c;
}
.menu-industries {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.industries-text {
    color: #0c084c;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: -40px
}


/* Program */


.container-programs {
    /* justify-content: center; */
    margin: 50px 16% 0px 16%;
}
.program-text {
    text-align: center;
}
.program-text1 {
    font-size: 43px;
    color:#0c084c;
    font-weight: 400;
}
.program-text1 b {
    font-weight: 600;
}
.program-text2 {
    font-size: 16px;
    color: #0c084c;
    font-weight: 400;
    margin-top: -20px;
    margin-bottom: 70px;
}
.programs {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 100px;
    padding: 10px 0px;
    gap: 20px;
}
.program-voc {
    background-color: #F2F5F7;
    border-radius: 18px;
    text-align: center;
    height: 588.67px;
}
.voc-pic {
    width: 366.14px;
    height: auto;
}
.voc-list ul {
    text-align: left;
    line-height: 25px;
    font-weight: 400;
}
.voc-title {
    color: #111518;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 35px;
}
.voc-list li {
    list-style-type: none;
    color: #687279;
}
.program-pro {
    background-color: #FDEEEA;
    border-radius: 18px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.pro-title {
    color: #111518;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 35px
}
.pro-pic {
    width: 366.14px;
    margin-top: 40px;
    margin-top: auto;
    display: flex;
    align-items: end;
    overflow: hidden;
}
.pro-pic img {
    width: 100%;
    margin-top: 21px;
}
.pro-list {

    line-height: 23px;
}
.pro-list li {
    list-style-type: none;
    color: #687279;
}
.program-rel {
    width: 320px;
    height: auto;
    background-color: #F4F5F6;
    padding: 30px;
    border-radius: 18px;
}
.rel-pic img {
    width: 250px;
    height: auto;

    display: flex;
    margin: auto;
}
.rel-title {
    color: #111518;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.rel-list li {
    list-style-type: none;
    color: #687279;
    line-height: 23px;
}


/* Jurusan */

.jurusan-judul {
    font-size: 43px;
    font-weight: 600;
    color: #0C084C;
    text-align: center;
}
.jurusan-subjudul{
    text-align: center;
    font-size: 16px;
    color: #0C084C;
    margin: 15px 0px 15px 0px;
}
.jurusan {
    display: flex;
    justify-content: center;
}

/* TKJ */


.tkj {
    padding: 30px;
    background-color: #f2f5f7;
    border-radius: 18px;
    margin-right: 15px;
}
.button-tkj {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 18px;
    text-align: center;
    background-color: #f1a204;
    border-radius: 5px;
    padding: 12px 24px 12px 24px;
    color: white
}
.button-tkj i {
    color: white;
}
.text-tkj {
    padding-bottom: 15px;
    font-size: 14px;
    color:#111518
}
.list-tkj {
    font-size: 14px;
    list-style-type: none;
    line-height: 23px;
    margin-left: 20px;
    color: #687279
}
.buttonbawah-tkj {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    background-color: #0C084C;
    color: white;
    border-radius: 5px;
    padding: 8px 13px 8px 13px;
    margin-top: 30px;
}
.buttonbawah-tkj i {
    color: white;
}

/* DKV */


.dkv {
    padding: 30px;
    background-color: #f2f5f7;
    border-radius: 18px;
}
.button-dkv {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 18px;
    text-align: center;
    background-color: #f1a204;
    border-radius: 5px;
    padding: 12px 24px 12px 24px;
    color: white
}
.button-dkv i {
    color:white;
}
.text-dkv {
    padding-bottom: 15px;
    font-size: 14px;
    color:#111518
}
.list-dkv {
    font-size: 14px;
    list-style-type: none;
    line-height: 23px;
    margin-left: 20px;
    color: #687279
}
.buttonbawah-dkv {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    background-color: #0C084C;
    color: white;
    border-radius: 5px;
    padding: 8px 13px 8px 13px;
    margin-top: 30px;
}
.buttonbawah-dkv i {
    color: white;
}


/* RPL */


.rpl {
    padding: 30px;
    background-color: #f2f5f7;
    border-radius: 18px;
    margin-left: 15px;
}
.button-rpl {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 18px;
    text-align: center;
    background-color: #f1a204;
    border-radius: 5px;
    padding: 12px 24px 12px 24px;
    color: white
}
.button-rpl i {
    color: white;
}
.text-rpl {
    padding-bottom: 15px;
    font-size: 14px;
    color:#111518
}
.list-rpl {
    font-size: 14px;
    list-style-type: none;
    line-height: 23px;
    margin-left: 20px;
    color: #687279
}
.buttonbawah-rpl {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    background-color: #0C084C;
    color: white;
    border-radius: 5px;
    padding: 8px 13px 8px 13px;
    margin-top: 30px;
}
.buttonbawah-rpl i {
    color: white;
}

/* Portofolio */

.container-portofolio {
    max-width: 1150px;
    margin: auto;
}
.container-judul {
    line-height: 35px;
    margin: 150px 0px 80px 0px;
}
.port-judul {
    color: #0C084C;
    font-size: 43px;
    font-weight: 400;
    text-align: center;
}
.port-subjudul {
    color:#0C084C;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}
.container-port-dkv {
    display: flex;
    gap: 20px;
}
.container-yt-dkv {
    padding: 20px;
    line-height: 10px;
}
.yt-dkv {
    border-radius: 10px;
}
.yt-dkv-texts {
    line-height: 20px;;
}
.yt-dkv-text1 {
    font-size: 20px;
    color:#0C084C;
    font-weight: 500;
}
.yt-dkv-text2 {
    font-size: 12px;
    color:#0C084C;
    font-weight: 400;
}
.yt-dkv-text3 {
    font-size: 12px;
    color:#0C084C;
    font-weight: 600;
}
.container-text-dkv {
    padding: 10px;
}
.text-dkv-1 {
    font-size: 43px;
    color:#0C084C;
    font-weight: 400;
    text-align: center;
}
.text-dkv-2 {
    font-size: 13px;
    color:#0C084C;
    font-weight: 400;
}
.text-div-list ul {
    list-style-type: none;
    padding: 0px 0px 15px 15px;
    font-size: 14px;
    color: #687279;
    font-weight: 300;
}
.button-portofolio-dkv {
    font-size: 12px;
    background-color: #0C084C;
    padding: 8px 14px 8px 14px; 
    border-radius: 3px;
}
.button-portofolio-dkv a {
    text-decoration: none;
    color:white;
    font-weight: 500;
    
}


/* Gallery */



.gallery-container {
    font-family: "Poppins", sans-serif;
    max-width: 1100px;
    margin: auto;
}
.filter-btns {
    text-align: center;
    margin-bottom: 20px;
}
.filter-btn {
    font-family: "poppins", sans-serif;
    background: none;
    border: 1px solid #f2f5f7; 
    background-color: #f2f5f7;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 5px;
    box-shadow: 0 8px 20px rgb(0,0,0,0.15);

}
.filter-btn.active,
.filter-btn:hover {
    background-color: #ff6b00;
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease, 0.3s ease;
    box-shadow: 0 8px 20px rgb(0,0,0,0.15);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.images {
    width: 23%;
    overflow: hidden;
    transform: scale(1);
    transition: all 0.5 ease;
}
.images img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
}
.images:hover {
    transform: scale(1.05)
}

@media screen and (max-width: 600px) {
    .navbar {
        margin: 0;
    }
    .container-menu-text {
        width: 94%;
    }
    .menu-text1 {
        font-size: 16px;
        line-height: 1;
    }
    .menu-text2 {
        font-size: 43px;
        
    }
    .menu-list-button {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .hero-content {
        flex-direction: column;
        padding: 0px 10px;
    }
    .container-menu-img {
        width: 350px;
        height: 280px;
    }
    .menu-img {
        width: 350px ;
    }
    .menu-text-industries {
        margin-top: 50px;
        text-align: center;
    }
    .menu-industries {
        flex-direction: column;
        align-items: center;
    }
    .container-programs {
        margin: 70px 16% 0px 16%;
    }
    .program-text
    .program-text1 {
        width: 280px;
    }
    .programs {
        display: flex;
        flex-direction: column;
    }
    .jurusan {
        display: flex;
        flex-direction: column;
    }
}